<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sport</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1>Sport</h1>

<div>
	<p><a href="/home">Retour à l'accueil</a></p>
	<p><a href="/allsports">Retour à la liste</a></p>
</div>

<div th:if="${session.connectedUser != null}" th:each="user:${userList}">
	<form th:action="@{/msg(value=${userDest})}" th:object="${userDest}" method="POST" th:if="${session.connectedUser.id != user.id}">
		<input type="hidden" th:value="${user.id}" th:name="id" th:id="*{id}">
		<input type="submit" th:value="${user.firstname}">
	</form>
</div>

<div th:if="${session.connectedUser == null}">
	<a href="/connect">Connectez-vous pour accéder à la suite !</a>
</div>


</body>
</html>